<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Conceptualizer Team</string>
	<key>CFBundleDisplayName</key>
	<string>Contextual</string>
	<key>CFBundleIdentifier</key>
	<string>com.conceptualizer.safari.contextual</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*.facebook.com/</string>
			<string>http://*.gmail.com/</string>
			<string>http://mail.google.com/</string>
			<string>http://*.hotmail.com/</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/injecter.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Harness extension that may use or demonstrate conceptualizers.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
